$schema: ../../../schema/mcp-agent.config.schema.json

azure:
  default_model: gpt-4o-mini
  api_key: changethis
  endpoint: https://<your-resource-name>.cognitiveservices.azure.com/openai/deployments/<your-deployment-name>