$schema: ../../../schema/mcp-agent.config.schema.json

openai:
  api_key: openai_api_key

mcp:
  servers:
    smithery-github:
      url: "wss://server.smithery.ai/@smithery-ai/github/ws?config=BASE64_ENCODED_CONFIG"
