$schema: ../../../schema/mcp-agent.config.schema.json

azure:
    default_model: gpt-4o-mini
    api_key: changethis
    endpoint: https://<your-resource-name>.cognitiveservices.azure.com/openai/deployments/<your-deployment-name>
    api_version: "2025-01-01-preview" # Azure OpenAI api-version. See https://aka.ms/azsdk/azure-ai-inference/azure-openai-api-versions
    
openai:
  api_key: openai_api_key

anthropic:
  api_key: anthropic_api_key
