$schema: ../../../schema/mcp-agent.config.schema.json

bedrock:
  default_model: anthropic.claude-3-haiku-20240307-v1:0
  aws_region:
  aws_access_key_id:
  aws_secret_access_key:
  aws_session_token: